@import '../../../../scss/styles.scss';

.doc-tabs {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &__tabs {
    display: flex;
    gap: calc(var(--base) / 2);
    list-style: none;
    margin: 0;
    padding-left: 0;

    &::after {
      content: ' ';
      position: sticky;
      top: 0;
      right: 0;
      padding-right: calc(var(--base) * 2);
      background: linear-gradient(to right, transparent, var(--theme-bg));
    }
  }

  &__tab {
    display: flex;
  }

  @include mid-break {
    width: 100%;
    padding: 0;

    &__tabs {
      padding: 0;
      margin-left: var(--gutter-h);
    }

    &__tab {
      &:last-child {
        // CSS hack, give the illusion of right margin within the overflowing container
        // margin-right, padding-right, etc are tricky within overflowing flex-boxes
        &::after {
          content: '';
          padding-right: var(--gutter-h);
          height: 1px;
        }
      }
    }
  }

  @include small-break {
    &__tabs {
      gap: var(--gutter-h);
    }
  }
}
